<div class="row" id="account-done">

	<%- include("./_sideBar") %>

	<div class="col-9">
		<div class="header right">
			<button class="outline btn-ghost red">
				<span>Logout</span>
				<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
			</button>
		</div>

		<div class="row content">
			<div class="col-4"></div>
			<div class="col-4 main-content">
				<div class="form-master">
					<label>Account Id:</label>
          <p class="value"><strong>#lightsbee</strong></p>
				</div>
				<div class="form-master">
					<label>Balance:</label>
          <p class="value"><strong>$123.456</strong></p>
				</div>
				<div class="form-master">
					<label>Transactions:</label>
          <p class="value"><strong>123</strong></p>
				</div>
				<div class="form-master right">
					<button type="button" name="button" class="btn-primary">Save</button>
					<button type="button" name="button" class="btn-primary">Done</button>
				</div>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
</div>
