<div class="cards">
	<div class="card">
    <h5 class="card-header">Header</h5>
    <p class="card-body">Content</p>
    <div class="card-footer center text-center"><p>Footer</p></div>
  </div>
</div>