<div class="row" id="block-progress-upload">

	<%- include("./_sideBar") %>

	<div class="col-9">
		<div class="header right">
			<button class="outline btn-ghost red">
				<span>Logout</span>
				<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
			</button>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
        <ul id="progress">
          <li><div class="node grey"></div><p>The First Thing!</p></li>
          <li><div class="divider grey"></div></li>
          <li><div class="node grey"></div><p>The Second Thing!</p></li>
          <li><div class="divider grey"></div></li>
          <li><div class="node grey"></div><p>The Third Thing!</p></li>
          <li><div class="divider grey"></div></li>
          <li><div class="node grey"></div><p>The Fourth Thing!</p></li>
          <li><div class="divider grey"></div></li>
          <li><div class="node grey"></div><p>The Last Thing!</p></li>
      </ul>
      <button type="button" id="next">Next</button>
      <button type="button" id="clear">Clear</button>
			<div class="col-3"></div>
		</div>
	</div>
</div>
