<div class="col-3">
  <div class="side-bar">
    <div class="login-id ">
      <i class="fa fa-user-circle-o fa-2x fa-fw" aria-hidden="true"></i>
      <span>#lightsbee</span>
    </div>
    <div class="account-id ">
      <i class="fa fa-address-card-o fa-2x fa-fw" aria-hidden="true"></i>
      <span>Account Id</span>
    </div>
    <div class="balance">
      <i class="fa fa-money fa-2x fa-fw" aria-hidden="true"></i>
      <span>Balance</span>
    </div>
  </div>
</div>
