<div class="row" id="block-upload">

	<%- include("./_sideBar") %>

	<div class="col-9">
		<div class="header right">
			<button class="outline btn-ghost red">
				<span>Logout</span>
				<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
			</button>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form action="/file-upload" class="dropzone" id="my-awesome-dropzone" >
					<div class="dz-message needsclick">
					  Drop files here or click to upload.<br>
					  <span class="note needsclick">(This is just a <strong>demo</strong> dropzone.)
					</div>
					<div class="fallback">
					  <input name="file" type="file" multiple />
					</div>
				</form>

				<div class="form-master">
					<label>Password</label>
          <input type="password" placeholder="****">
				</div>
				<div class="form-master">
					<label>Account Id</label>
          <input type="text" placeholder="">
				</div>

				<div class="right">
					<button class="btn-primary" onclick="window.location.href = './progress.html'">Upload</button>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</div>
