<body>

	<!--******* menu, footer, header, main content ... ******-->
	<%- include('./_termAndCondition') %>

	<!--******* css, js import at end of body ... ******-->
	<%- include('./_assets') %>
	
</body>