<div class="row" id="block-progress-upload">

	<%- include("./_sideBar") %>

	<div class="col-9">
		<div class="header right">
			<button class="outline btn-ghost">
				<span>Logout</span>
				<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
			</button>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">

			<div class="col-3"></div>
		</div>
	</div>
</div>
