/* ================================================
  ** IMPORT FONTS
  include: font for text, typo, fonticons.
  ================================================ */
/*-----------*/
/* ================================================
  ** VARIABLES
  color: text, button, etc.
  size: font size, line height, button, input, etc.
  ================================================ */
/*-----------*/
/* ================================================
  ** MIXIN
  vendor prefixes support all browsers, it can reuse
  throughout the site.
  ================================================ */
/*-----------*/
/* ================================================
  ** IMPORT COMPONENTS
  all parts of site such as common, header, navbar,
  menu, footer, etc.
  ================================================ */
button, a {
  cursor: pointer; }

input {
  box-sizing: border-box; }

input[type="email"]:focus, input[type="file"], input[type="number"], input[type="password"]:focus, input[type="search"]:focus, input[type="tel"], input[type="text"]:focus, select:focus textarea:focus, textarea[type="text"]:focus {
  border-color: #2866AB; }

body, html {
  background-color: #fafafa;
  margin: 0;
  padding: 0; }

.font-light {
  font-weight: 100; }

/* ================================================
  ** TERM AND CONDITION PAGE
    ================================================ */
#term-and-condition > .content {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 120px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

#term-and-condition > .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 10% 20px 0;
  background-color: #ECF0F1; }

.btn-primary {
  background: #2866AB;
  border: 1.5px;
  border-style: solid;
  border-color: #2866AB;
  margin: 0 6px; }
  .btn-primary:hover {
    background: #225691;
    border-color: #225691; }

button.btn-ghost, .btn-ghost {
  border: 1.5px solid currentColor;
  color: rgba(0, 0, 0, 0.3); }
  button.btn-ghost:hover, .btn-ghost:hover {
    color: #2866AB;
    border-color: currentColor; }

/******************************************/
/* ================================================
  ** LOGIN PAGE
    ================================================ */
.header-background {
  background-color: #2866AB;
  height: 222px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 2rem; }

.card {
  flex-direction: column;
  overflow: hidden;
  flex: 0 1 calc(50% - 0.5rem);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem; }

.card-header {
  font-weight: 600;
  margin: 0;
  padding: 2rem 3rem 1rem; }

.card-body {
  padding: 0 3rem 2rem 3rem;
  min-height: 100px; }

.card-footer {
  display: flex;
  align-items: stretch;
  flex: 1;
  background-color: #f6f8f8; }

#block-login {
  margin-top: 20px;
  justify-content: center; }
  #block-login > .card {
    width: 870px;
    max-width: 94vw;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    flex: inherit; }
  #block-login .main-component {
    padding: 50px 90px; }
    #block-login .main-component .sign-in {
      margin: inherit; }
  #block-login .card-footer {
    padding-right: 90px;
    padding-left: 90px; }

.qrCode {
  width: 240px;
  height: 240px; }

.form-master {
  margin-bottom: 12px; }

/*****************************/
/* ================================================
  ** UPLOAD PAGE
    ================================================ */
#block-upload > .col, #block-upload [class*=" col-"], #block-upload [class^=col-] {
  margin: 0; }

#block-upload .side-bar {
  background-color: #272B34;
  height: 100vh;
  margin-top: 0; }
  #block-upload .side-bar::before {
    content: '';
    background-color: #30333E;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh; }
  #block-upload .side-bar > * {
    position: relative;
    color: #fafafa;
    height: 70px;
    line-height: 70px; }
    #block-upload .side-bar > * .fa {
      vertical-align: -4px;
      margin: 0 35px 0 15px; }
      #block-upload .side-bar > * .fa + span {
        font-weight: 100; }
    #block-upload .side-bar > *:hover {
      background-color: rgba(0, 0, 0, 0.2); }
      #block-upload .side-bar > *:hover .fa {
        color: #4588d3; }

#block-upload .header {
  background-color: #f4f4f4;
  padding: 12px 20px; }

.dropzone {
  border: 2px dashed #2866AB;
  border-radius: 5px;
  background: white;
  min-height: 100px;
  padding: 0px 54px;
  margin: 20px auto;
  cursor: pointer; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer; }
  .dropzone.dz-clickable .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem; }

.dropzone, .dropzone * {
  box-sizing: border-box; }

/*-----------*/
