/* ================================================
  ** IMPORT FONTS
  include: font for text, typo, fonticons.
  ================================================ */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 54px 54px; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer; }

.dropzone.dz-started .dz-message {
  display: none; }

.dropzone.dz-drag-hover {
  border-style: solid; }

.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5; }

.dropzone .dz-message {
  text-align: center;
  margin: 2em 0; }

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px; }

.dropzone .dz-preview:hover {
  z-index: 1000; }

.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd); }

.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1; }

.dropzone .dz-preview.dz-image-preview {
  background: white; }

.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none; }

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline; }

.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%; }

.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px; }

.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap; }

.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8); }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis; }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent; }

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px; }

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px); }

.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10; }

.dropzone .dz-preview .dz-image img {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px; }

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px; }

.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; }

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite; }

.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden; }

.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out; }

.dropzone .dz-preview.dz-error .dz-error-message {
  display: block; }

.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto; }

.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white; }

.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626; }

/*-----------*/
/* ================================================
  ** VARIABLES
  color: text, button, etc.
  size: font size, line height, button, input, etc.
  ================================================ */
/*-----------*/
/* ================================================
  ** MIXIN
  vendor prefixes support all browsers, it can reuse
  throughout the site.
  ================================================ */
/*-----------*/
/* ================================================
  ** IMPORT COMPONENTS
  all parts of site such as common, header, navbar,
  menu, footer, etc.
  ================================================ */
button, a {
  cursor: pointer; }

input {
  box-sizing: border-box; }

input[type="email"]:focus, input[type="file"], input[type="number"], input[type="password"]:focus, input[type="search"]:focus, input[type="tel"], input[type="text"]:focus, select:focus textarea:focus, textarea[type="text"]:focus {
  border-color: #2866AB; }

body, html {
  background-color: #fafafa;
  margin: 0;
  padding: 0; }

.font-light {
  font-weight: 100; }

/* ================================================
  ** TERM AND CONDITION PAGE
    ================================================ */
#term-and-condition > .content {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 120px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }

#term-and-condition > .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 10% 20px 0;
  background-color: #ECF0F1; }

.btn-primary {
  background: #2866AB;
  border: 1.5px;
  border-style: solid;
  border-color: #2866AB;
  margin: 0 6px; }
  .btn-primary:hover {
    background: #225691;
    border-color: #225691; }

button.btn-ghost, .btn-ghost {
  border: 1.5px solid currentColor;
  color: rgba(0, 0, 0, 0.3); }
  button.btn-ghost:hover, .btn-ghost:hover {
    color: #2866AB;
    border-color: currentColor; }
  button.btn-ghost.red:hover, .red.btn-ghost:hover {
    color: #F38181; }

/******************************************/
/* ================================================
  ** LOGIN PAGE
    ================================================ */
.header-background {
  background-color: #2866AB;
  height: 222px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 2rem; }

.card {
  flex-direction: column;
  overflow: hidden;
  flex: 0 1 calc(50% - 0.5rem);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem; }

.card-header {
  font-weight: 600;
  margin: 0;
  padding: 2rem 3rem 1rem; }

.card-body {
  padding: 0 3rem 2rem 3rem;
  min-height: 100px; }

.card-footer {
  display: flex;
  align-items: stretch;
  flex: 1;
  background-color: #f6f8f8; }

#block-login {
  margin-top: 20px;
  justify-content: center; }
  #block-login > .card {
    width: 870px;
    max-width: 94vw;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    flex: inherit; }
  #block-login .main-component {
    padding: 50px 90px; }
    #block-login .main-component .sign-in {
      margin: inherit; }
  #block-login .card-footer {
    padding-right: 90px;
    padding-left: 90px; }

.qrCode {
  width: 240px;
  height: 240px; }

.form-master {
  margin-bottom: 12px; }

/*****************************/
/* ================================================
  ** UPLOAD PAGE
    ================================================ */
#block-upload > .col, #block-progress-upload > .col, #block-error-upload > .col, #list-services > .col, #account-done > .col, #block-upload [class*=" col-"], #block-progress-upload [class*=" col-"], #block-error-upload [class*=" col-"], #list-services [class*=" col-"], #account-done [class*=" col-"], #block-upload [class^=col-], #block-progress-upload [class^=col-], #block-error-upload [class^=col-], #list-services [class^=col-], #account-done [class^=col-] {
  margin: 0; }

#block-upload .side-bar, #block-progress-upload .side-bar, #block-error-upload .side-bar, #list-services .side-bar, #account-done .side-bar {
  background-color: #272B34;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  width: 25%; }
  #block-upload .side-bar::before, #block-progress-upload .side-bar::before, #block-error-upload .side-bar::before, #list-services .side-bar::before, #account-done .side-bar::before {
    content: '';
    background-color: #30333E;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh;
    box-shadow: 1px 0 30px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 0 30px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 1px 0 30px 0px rgba(0, 0, 0, 0.05); }
  #block-upload .side-bar > *, #block-progress-upload .side-bar > *, #block-error-upload .side-bar > *, #list-services .side-bar > *, #account-done .side-bar > * {
    position: relative;
    color: #fafafa;
    height: 70px;
    display: flex;
    align-items: center; }
    #block-upload .side-bar > * .fa, #block-progress-upload .side-bar > * .fa, #block-error-upload .side-bar > * .fa, #list-services .side-bar > * .fa, #account-done .side-bar > * .fa {
      vertical-align: -4px;
      margin: 0 35px 0 15px; }
    #block-upload .side-bar > *:hover, #block-progress-upload .side-bar > *:hover, #block-error-upload .side-bar > *:hover, #list-services .side-bar > *:hover, #account-done .side-bar > *:hover {
      background-color: rgba(0, 0, 0, 0.2); }
      #block-upload .side-bar > *:hover .fa, #block-progress-upload .side-bar > *:hover .fa, #block-error-upload .side-bar > *:hover .fa, #list-services .side-bar > *:hover .fa, #account-done .side-bar > *:hover .fa {
        color: #4588d3; }

#block-upload .header, #block-progress-upload .header, #block-error-upload .header, #list-services .header, #account-done .header {
  background-color: #f4f4f4;
  padding: 12px 20px; }

#block-upload .btn-primary, #block-progress-upload .btn-primary, #block-error-upload .btn-primary, #list-services .btn-primary, #account-done .btn-primary {
  margin-right: 0; }

.dropzone {
  border: 2px dashed #2866AB;
  border-radius: 5px;
  background: white;
  min-height: 100px;
  padding: 0px 54px;
  margin: 20px auto;
  cursor: pointer; }
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer; }
  .dropzone.dz-clickable .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem; }

.dropzone, .dropzone * {
  box-sizing: border-box; }

.node {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #c9c9c9;
  display: inline-block;
  transition: all 1000ms ease; }
  .node.loading {
    border-right-color: #2866AB;
    animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.activated {
  background-color: #2866AB; }
  .activated::before {
    content: '';
    background-image: url("../images/checked.svg");
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    background-size: 14px;
    height: 20px;
    background-position: 3px 4px; }

.divider {
  height: 40px;
  width: 2px;
  margin-left: 11px;
  transition: all 800ms ease; }

#progress li {
  list-style: none;
  line-height: 1px; }
  #progress li p {
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: 8px; }

.green {
  background-color: #2866AB; }

.green-border {
  border-color: #2866AB; }

.grey {
  background-color: #c9c9c9; }

#block-error-upload .content {
  margin-top: 150px; }
  #block-error-upload .content h1 {
    margin-top: 10px; }

#list-services .content {
  padding: 30px 0; }

#list-services .all-banks {
  min-height: 130px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
  -moz-box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
  padding: 2em; }
  #list-services .all-banks .bank-list {
    list-style-type: none;
    padding: 0; }
    #list-services .all-banks .bank-list > li {
      padding: 10px;
      background-color: #fafafa;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: .6%;
      height: 50px;
      display: inline-block;
      width: 30%;
      position: relative;
      margin-right: .6%;
      vertical-align: top; }
      #list-services .all-banks .bank-list > li:hover {
        background-color: #f4f4f4; }
      #list-services .all-banks .bank-list > li > p {
        position: absolute;
        top: 50%;
        width: calc(100% - 70px);
        left: 65px;
        margin: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%); }

#account-done .content {
  padding: 30px 0; }
  #account-done .content .value {
    margin: 0 0 15px;
    color: #2866AB; }
  #account-done .content .main-content {
    padding: 25px 35px;
    box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
    -moz-box-shadow: 1px 2px 10px 0 rgba(40, 102, 171, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff; }
  #account-done .content .form-master {
    display: flex; }
    #account-done .content .form-master > label {
      flex: 2; }
    #account-done .content .form-master > p {
      flex: 3; }

/*-----------*/
