#account-done {
	@extend #block-upload;

	.content {
		padding: 30px 0;

		.value {
			margin: 0 0 15px;
			color: $primary-color;
		}

		.form-master {
			padding: 5px 25px;
			@include border-radius(4px);
			background-color: #fff;
			@include box-shadow(1px 2px 10px 0 $primary-color-shadow-light);
		}
	}
}