#block-progress-upload {
  @extend #block-upload;
}

.node {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgba(201, 201, 201, 1);
    display:inline-block;
    transition: all 1000ms ease;

    &.loading {
        border-right-color: $primary-color;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {  
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.activated {
    background-color: $primary-color;

    &::before {
        content: '';
        background-image: url('../images/checked.svg');
        background-repeat: no-repeat;
        display: block;
        width: 20px;
        background-size: 14px;
        height: 20px;
        background-position: 3px 4px;
    }
}

.divider {
    height: 40px;
    width: 2px;
    margin-left: 11px;
    transition: all 800ms ease;
}

#progress {
  li {
    list-style: none;
    line-height: 1px;

    p {
        display:inline-block;
        margin: 0 0 0 25px;
        vertical-align: 8px;
    }
  }
}

.green { background-color: $primary-color; }
.green-border { border-color: $primary-color; }
.grey { background-color: rgba(201, 201, 201, 1); }
// .grey-border { border-color: rgba(201, 201, 201, 1); }
