
$green-bold: #00AD7C;
$text-dark: #475762;
$text-dark-opacity: rgba(71, 87, 98, .2);
$text-light: #F3F6F6;
$text-semilight: #C7DDEA;
$blue-light: #30E3CA;
$blue-bold: #1E3F53;
$blue-light-hsl: hsla(172, 76%, 54%, .3);
$background-grey-light: #f4f4f4;
$menu-mobile-background: #2C3E50;