/* ================================================
  ** IMPORT FONTS
  include: font for text, typo, fonticons.
  ================================================ */

  @import "dropzone";

/*-----------*/

/* ================================================
  ** VARIABLES
  color: text, button, etc.
  size: font size, line height, button, input, etc.
  ================================================ */

  @import 'variables';

/*-----------*/

/* ================================================
  ** MIXIN
  vendor prefixes support all browsers, it can reuse
  throughout the site.
  ================================================ */

  @import 'mixin';

/*-----------*/


/* ================================================
  ** IMPORT COMPONENTS
  all parts of site such as common, header, navbar,
  menu, footer, etc.
  ================================================ */
  @import 'common';
  @import 'termAndCondition';
  @import 'loginPage';
  @import 'uploadPage';
  @import 'progressUpload';
  @import 'errorUpload';
  @import 'listServices';

/*-----------*/
